<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Name="${app_name}" Id="${app_guid}" UpgradeCode="${upgrade_guid}"
		Language="${app_language}" Codepage="${app_codepage}" Version="${app_version}" Manufacturer="${app_publisher}">

	<Package Id="*" Keywords="Installer"
		Description="${app_name}"
		Comments="${app_description}" Manufacturer="${app_publisher}"
		InstallerVersion="300" Languages="${app_language}" Compressed="yes" SummaryCodepage="${app_codepage}" />
	
	<Upgrade Id="${upgrade_guid}">
		<UpgradeVersion OnlyDetect="yes" Property="NEWERFOUND" Minimum="${app_version}" IncludeMinimum="no" />
	</Upgrade>
  
    <Media Id="1" Cabinet="${app_id}.cab" EmbedCab="yes" DiskPrompt="CD-ROM #1" />
    <Property Id="DiskPrompt" Value="${app_name}" />

	<Directory Id="TARGETDIR" Name="SourceDir">
		<Directory Id="ProgramFilesFolder" Name="PFiles">
			<Directory Id="INSTALLDIR" Name="${app_name}">
				${app_dirs}
			</Directory>
		</Directory>
	
		<Directory Id="ProgramMenuFolder" Name="Programs">
			<Directory Id="ProgramMenuDir" Name="${app_name}">
				<Component Id="ProgramMenuDir" Guid="${program_menu_guid}">
					<RemoveFolder Id="ProgramMenuDir" On="uninstall" />
					<RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" KeyPath="yes" />
				</Component>
			</Directory>
		</Directory>

		<Directory Id="DesktopFolder" Name="Desktop" />
		
		<Merge Id="CRT80" Language="${app_language}" SourceFile="${crt_msm}" DiskId="1" />
		
		${bundled_xml}
    </Directory>
	
	
	<Feature Id="Application" Title="${app_name}" Description="${app_description}" Level="1"
		ConfigurableDirectory="INSTALLDIR">
		<ComponentRef Id="ProgramMenuDir" />
		<MergeRef Id="CRT80" />
		
		${app_components}
	</Feature>

	<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
	
	<WixVariable Id="WixUIDialogBmp" Value="${dialog_bmp}"/>
	<WixVariable Id="WixUIBannerBmp" Value="${banner_bmp}"/>
	<WixVariable Id="WixUILicenseRtf" Value="${license_rtf}"/>

	<Icon Id="ApplicationIcon.exe" SourceFile="${app_exe}" />
	<Property Id="ARPPRODUCTICON" Value="ApplicationIcon.exe" />
	
	<Property Id="AppDependencies" Value="${dependencies}"/>
	${bundled_modules}
	${bundled_runtime}
	
	<CustomAction Id="NoDowngrade" Error="A later version of [ProductName] is already installed." />
	
	<!-- the "immediate" setup action exists to initialize the progress bar with our job count -->
	<!-- ugly hack to pass in our dependenices and bundled modules/runtime into the deferred/async action -->
	<CustomAction Id="NetInstall.Params" Return="check" Property="NetInstall" Value="[AppDependencies];[AppBundledModules];[AppBundledRuntime]"/>
	<CustomAction Id="NetInstall.Setup" BinaryKey="TitaniumInstallerDll" DllEntry="NetInstall" Execute="immediate"/>
	<CustomAction Id="NetInstall" BinaryKey="TitaniumInstallerDll" DllEntry="NetInstall" Execute="deferred"/>
	
	<InstallExecuteSequence>
		<Custom Action="NoDowngrade" After="FindRelatedProducts">NEWERFOUND</Custom>
		<Custom Action="NetInstall.Params" After="InstallFiles">NOT Installed</Custom>
		<Custom Action="NetInstall.Setup" After="NetInstall.Params">NOT Installed</Custom>
		<Custom Action="NetInstall" After="NetInstall.Setup">NOT Installed</Custom>
	</InstallExecuteSequence>
		
	<Binary Id="TitaniumInstallerDll" SourceFile="${titanium_installer_dll}"/>
	<Binary Id="BannerBmp" SourceFile="${banner_bmp}"/>
	
	<UIRef Id="WixUI_Common" />
	<UIRef Id="WixUI_InstallDir" />
  </Product>
</Wix>
